
# PlanAhead Generated physical constraints 

NET "mem_addr[19]" LOC = W24;
NET "mem_addr[18]" LOC = W22;
NET "mem_addr[17]" LOC = V23;
NET "mem_addr[16]" LOC = AC23;
NET "mem_addr[15]" LOC = AA23;
NET "mem_addr[14]" LOC = AA18;
NET "mem_addr[13]" LOC = AB22;
NET "mem_addr[12]" LOC = AD21;
NET "mem_addr[11]" LOC = AC20;
NET "mem_addr[10]" LOC = AA15;
NET "mem_addr[9]" LOC = AC19;
NET "mem_addr[8]" LOC = AC16;
NET "mem_addr[7]" LOC = AC15;
NET "mem_addr[6]" LOC = AD15;
NET "mem_addr[5]" LOC = AC14;
NET "mem_addr[4]" LOC = V26;
NET "mem_addr[3]" LOC = V24;
NET "mem_addr[2]" LOC = W26;
NET "mem_addr[1]" LOC = W25;
NET "mem_addr[0]" LOC = Y26;
NET "mem_data[31]" LOC = AE15;
NET "mem_data[30]" LOC = AF15;
NET "mem_data[29]" LOC = AF16;
NET "mem_data[28]" LOC = AA19;
NET "mem_data[27]" LOC = AA17;
NET "mem_data[26]" LOC = AF18;
NET "mem_data[25]" LOC = AE19;
NET "mem_data[24]" LOC = AF19;
NET "mem_data[23]" LOC = AC25;
NET "mem_data[22]" LOC = AD26;
NET "mem_data[21]" LOC = AE26;
NET "mem_data[20]" LOC = AE25;
NET "mem_data[19]" LOC = AF25;
NET "mem_data[18]" LOC = AE24;
NET "mem_data[17]" LOC = AB21;
NET "mem_data[16]" LOC = AE23;
NET "mem_data[15]" LOC = AF20;
NET "mem_data[14]" LOC = AE21;
NET "mem_data[13]" LOC = AF21;
NET "mem_data[12]" LOC = AB17;
NET "mem_data[11]" LOC = AC17;
NET "mem_data[10]" LOC = AD18;
NET "mem_data[9]" LOC = AB18;
NET "mem_data[8]" LOC = AD19;
NET "mem_data[7]" LOC = AB24;
NET "mem_data[6]" LOC = Y22;
NET "mem_data[5]" LOC = AA24;
NET "mem_data[4]" LOC = Y24;
NET "mem_data[3]" LOC = AB26;
NET "mem_data[2]" LOC = AC26;
NET "mem_data[1]" LOC = AD24;
NET "mem_data[0]" LOC = AC24;
NET "mem_we" LOC = AA25;
NET "mem_ce" LOC = AA26;
NET "mem_oe" LOC = AD17;
NET "inst_addr[19]" LOC = AB6;
NET "inst_addr[18]" LOC = AB5;
NET "inst_addr[17]" LOC = AB4;
NET "inst_addr[16]" LOC = AB3;
NET "inst_addr[15]" LOC = AA4;
NET "inst_addr[14]" LOC = AC7;
NET "inst_addr[13]" LOC = AD7;
NET "inst_addr[12]" LOC = AB8;
NET "inst_addr[11]" LOC = AD8;
NET "inst_addr[10]" LOC = AC9;
NET "inst_addr[9]" LOC = AD9;
NET "inst_addr[8]" LOC = AA11;
NET "inst_addr[7]" LOC = AB10;
NET "inst_addr[6]" LOC = AC13;
NET "inst_addr[5]" LOC = AD14;
NET "inst_addr[4]" LOC = AD5;
NET "inst_addr[3]" LOC = AC5;
NET "inst_addr[2]" LOC = AD6;
NET "inst_addr[1]" LOC = AD3;
NET "inst_addr[0]" LOC = AD4;
NET "inst_data[31]" LOC = AF12;
NET "inst_data[30]" LOC = AF11;
NET "inst_data[29]" LOC = AE11;
NET "inst_data[28]" LOC = AB11;
NET "inst_data[27]" LOC = AF9;
NET "inst_data[26]" LOC = AB13;
NET "inst_data[25]" LOC = AF8;
NET "inst_data[24]" LOC = AA7;
NET "inst_data[23]" LOC = AA1;
NET "inst_data[22]" LOC = AA2;
NET "inst_data[21]" LOC = AB1;
NET "inst_data[20]" LOC = AC2;
NET "inst_data[19]" LOC = AC1;
NET "inst_data[18]" LOC = AD1;
NET "inst_data[16]" LOC = AE2;
NET "inst_data[17]" LOC = AE1;
NET "inst_data[15]" LOC = AF14;
NET "inst_data[14]" LOC = AD13;
NET "inst_data[13]" LOC = AC12;
NET "inst_data[12]" LOC = AD12;
NET "inst_data[11]" LOC = AC11;
NET "inst_data[10]" LOC = AD11;
NET "inst_data[9]" LOC = AF13;
NET "inst_data[8]" LOC = AE13;
NET "inst_data[7]" LOC = AA8;
NET "inst_data[6]" LOC = AF6;
NET "inst_data[5]" LOC = AF5;
NET "inst_data[4]" LOC = AE5;
NET "inst_data[3]" LOC = AF4;
NET "inst_data[2]" LOC = AA9;
NET "inst_data[1]" LOC = AE3;
NET "inst_data[0]" LOC = AF2;
NET "inst_we" LOC = AC4;
NET "inst_ce" LOC = AC3;
NET "inst_oe" LOC = AB9;
NET "clk" LOC = T3;
NET "rst" LOC = T1;
